@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;

}
*, *::after,*::before{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
:root{
    --black-color:#22343D;
    --white-color:#ffffff;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: auto;
    padding: 0px 20px;
}
.navbar{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left ul{
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-right ul{
    display: flex;
    align-items: center;
    gap: 24px;
}
.nav-left ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: #173A56;
}
.nav-right ul li a:hover{
    text-shadow: -3px 9px 21px rgba(0,0,0,0.56);
}

.nav-right ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
    transition: 0.5s;
    border: transparent;
}
.nav-button-1{
    padding: 10px 25px;
    border: 1px solid #BCD0E5;
    background-color: transparent;
    border-radius: 5px;
}
.nav-button-2:hover{
    background-color: transparent;
    color: #02897A;

}
.nav-button-1:hover{
    border: 1px solid #02897A;
    background-color: #02897A;
    border-radius: 5px;
    color: white;

}
.nav-button-2{
    padding: 10px 25px;
    border: 1px solid #02897A;
    background-color: #02897A;
    border-radius: 5px;
    color: white;
}
.nav-link-last img{ 
    margin-top: 10px;
}
.close{
    display: none;
}
.humburger{
    display: none;
}
.header__inner{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__left{
    max-width: 465px;
    width: 100%;
}
.header__left h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #22343D;
}
.header__left p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #22343D;
    margin-top: 20px;
    margin-bottom: 45px;
}
.header__left button:nth-child(1):hover{
    background: transparent;
    border: 1px solid #02897A;
    color: #02897A;
}
.header__left button:nth-child(1){
    padding: 15px 40px;
    background: #02897A;
    border: 1px solid #02897A;
    color: white;
    font-weight: 600;
}

.header__left button:nth-child(2){
    padding: 15px 40px;
    background: transparent;
    border: 1px solid #02897A;
    color: #02897A;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__left__btn{
    display: flex;
    gap: 20px;
}
.header__right img{
    width: 100%;

}
.content_1__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;
    max-width: 540px;
    width: 100%;
    margin: auto;
}
.content_1__row-cards{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.content_1__row{
    text-align: center;
    padding-top: 66px;
    padding-bottom: 90px;
    background: url(../images/Bg__c-1.png) no-repeat center center;
    background-size: cover;
}
.content_1__card{
    max-width: 240px;
    width: 100%;
}
.content_1__card h3{
    margin-top: 30px;
    margin-bottom: 15px;

}
.content_1__row button:hover{
    background-color: transparent;
    color: #02897A;
    outline: 1px solid #02897A;
}
.content_1__row button{
    margin-top: 75px;
    padding: 15px 34px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background: #02897A;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
}
.content-2{
    padding-top: 150px;
    padding-bottom: 150px;
}

.content_2__left{
    max-width: 485px;
    width: 100%;
}
.content_2__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content_2__left h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    color: #22343D;
}
.content_2__left h1{
    margin-bottom: 25px;
}
.content_2__left h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
    margin-bottom: 12px;
    color: #22343D;
}
.content_2__right img{
    width: 100%;
}
.content-3__right{
    max-width: 485px;
    width: 100%;
}
.content_3__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-3__right h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    color: #22343D;

}
.content-3__right h1{
    margin-bottom: 25px;
}
.content-3__text{
    display: flex;
    align-items: center;
    max-width: 380px;
    width: 100%;
    gap: 30px;
    margin-top: 30px;
}
.content-3__left img{
    width: 100%;
}
.content-3 {
    padding-bottom: 150px;
}
.content_4__wrapper{
    display: flex;
    justify-content: space-between;
}
.content_4__right img{
    width: 100%;
}
.content-5{
    padding-top: 150px;
    padding-bottom: 150px;
}
.content_5__wrapper{
    width: 100%;
    background: url(../images/Bg5.png) no-repeat center center;
}
.content_5__page{
    padding-top: 50px;
}
.content_5__page{
    text-align: center;
}
.content_5__page h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;
}
.content_5__page p{
    max-width: 540px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
}
.content_5__information{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    outline: 1px solid black;
}
.content_5__info{
    display: flex;
    align-items: center;
    gap: 60px;
}
.profile-text h3{
    padding: 10px 20px;
    border-radius: 30px;
    background: #FFFFFF;
box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
border-radius: 26.5px;
}
.content_5__information-2{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.content_5_button button:hover{
    background-color: transparent;
    outline: 1px solid #02897A;
    color: #02897A;
}
.content_5_button button{
    padding: 15px 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #02897A;
    border: none;
    margin-top: 50px;
}

.content_6__cards{
    max-width: 346px;
    width: 100%;
    outline: 1px solid rgb(202, 202, 202);
    border-radius: 10px;

}
.content_6__wrapper h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #22343D;
}
.content_6__wrapper h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 33px;
    color: #22343D;

}
.content_6__header h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding-left: 25px;
    margin-top: 25px;
    color: #22343D;
}
.content_6__header h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    line-height: 30px;
    margin-top: 12px;
    padding-bottom: 40px;
    padding-left: 25px;
    color: #4a4d4f;
}
.content_6_rows{
    display: flex;
    justify-content: space-between;
}
.content-6{
    padding-bottom: 100px;
}
.content_7__wrapper h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #22343D;
}
.content_7__wrapper h3{
    padding-bottom: 50px;
}
.content_7__wrapper {
    text-align: center;
}
.content_7__rows{
    display: flex;
    justify-content: space-between;
}
.content_7__cards:hover {
    background-color: #02897A;
}
.content_7__cards:hover h1{
    color: white;
}
.content_7__cards:hover h2{
    color: white;
}
.content_7__cards:hover h4{
    color: white;
}
.content_7__cards:hover button{
    background-color: white;
    color: #02897A;
}
.content_7__cards{
    max-width: 322px;
    width: 100%;
    outline: 1px solid ;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
    background: #FFFFFF;
    outline: 1px solid white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.con_7__card__text{
    padding-top: 40px;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.con_7__card__text h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 76px;
    letter-spacing: 0.2px;
    line-height: 100px;
    text-align: center;
    color: #02897A;
}
.con_7__card__text h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #02897A;
}
.content_7__cards h2{
    padding-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #22343D;
}   
.con_7__card__button{
    margin-top: 50px;
}

.con_7__card__button button{
    padding: 11px 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #02897A;
    background: #02897A;
    border-radius: 8px;
    color: #FFFFFF;
}
.content-8{
    padding-top: 150px;
}
.content_8__wrapper{
    text-align: center;
}
.content_8__wrapper h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #22343D;
}
.content_8__wrapper h3{
    max-width: 540px;
    width: 100%;
    margin: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #22343D;
    margin-top: 10px;
}
.content_8__rows{
    padding-top: 50px;
}
.content_8__card{
    max-width: 330px;
    width: 100%;
    padding-top: 10px;
    padding-left: 28px;
    padding-right: 28px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    text-align: left;
    padding-bottom: 20px;
}
.content_8__card h3{
    color: #F3CD03;
    font-size: 32px;
    text-align: left;
    margin-bottom: 16px;
}
.content_8__card h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
}
.profile-2{
    width: 50px;
    height: 50px;
    outline: 1px solid black;
    border-radius: 50%;
}
.content_8__about{
    margin-top: 16px;
    display: flex;
    gap: 20px;
}
.content_8__about h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #02897A;
}
.content_8__rows {
    display: flex;
    justify-content: space-between;
}
.content-9{
    padding-top: 150px;
    padding-bottom: 150px;
}
.content_9__wrapper {
    max-width: 970px;
    width: 100%;
    background: #02897A;
    border-radius: 32px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content_9__left{
    max-width: 510px;
    padding-right: 100px;
    width: 100%;
}
.content_9__left h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
}
.content_9__left button{
    padding: 13px 33px;
    color: #02897A;
    background-color: white;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #02897A;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 80px;
    margin-bottom: 20px;
}
.footer_part__1 {
    max-width: 170px;
    width: 100%;
}
.footer__part__1__footer{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}
.footer_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_part__4{
    max-width: 280px;
    width: 100%;
    display: flex;
    flex-direction:column;
    gap: 30px;
    margin-top: 45px;
}
.footer_part__4 input{
    padding: 5px 50px;
    border: 1px solid gray;
    border-radius: 5px;
}
.footer__button button:hover{
    background-color: transparent;
    color: #02897A;
}
.footer__button button{
    padding: 8px 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #02897A;
    border-radius: 4px;
    border: 1px solid #02897A;
}